<p *ngIf="selectedSong" style="background-color:yellow;">{{selectedSong|json}}</p>
<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title style="color: white;">{{selectedSong.title}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="selectedSong?.description" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <p>{{selectedSong.description}}</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions>
</mat-card>