<!-- <div class="contain-fluid">
    <div id="carouselExampleDark" class="carousel carousel-dark slide" 
    data-bs-ride="carousel">
        <div class="carousel-inner" *ngFor="let l of songList">
            <div class="carousel-item active" data-bs-interval="10000">
               
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div> -->

<ngb-carousel *ngIf="showCarousel" #carousel [interval]="5000">
    <ng-template ngbSlide  *ngFor="let l of songCard">
        <div style="background-color: black; height: 200px">
            <div class="carousel-caption d-none d-md-block">
                <p>{{l?.title}}</p>
            </div>
            <img [src]="l?.thumbnail" class="d-block w-100" alt="...">
        </div>
    </ng-template>

</ngb-carousel>

